# API keys and secrets
.env
.env.development
.env.test
.env.production

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore package-lock.json
package-lock.json